<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<!-- extra head section, may be a typo
    <body> 
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->

<body>
    <!--main section for content-->
    <h1>Todo List: </h1>
    <!--heading-->
    <ul class="todoItems">
        <!--create unordered list and assign class to the list-->
        <% for(let i=0; i < items.length; i++) {%>
            <!--use EJS to start a FOR loop-->
            <li class="item">
                <!--create a list item with class of "item"-->
                <% if(items[i].completed===true) {%>
                    <!--EJS to check if an item in an array with a completed property is true-->
                    <span class='completed'>
                        <%= items[i].thing %>
                    </span>
                    <!--creating an inline element with a class and EJS to display the name of the task-->
                    <% }else{ %>
                        <!--EJS for the else clause of our IF statement-->
                        <span>
                            <%= items[i].thing %>
                        </span>
                        <!--adding EJS to display the name of the task with NO class-->
                        <% } %>
                            <!--EJS to close the ELSE statement-->
                            <span class='fa fa-trash'></span>
                            <!--Display font awesome icon of trash can inside a span-->
            </li>
            <!--closing our list item-->
            <% } %>
                <!--EJS to close FOR loop-->
    </ul>
    <!--closing our unordered list-->

    <h2>Left to do: <%= left %>
            <!--creating a second level heading using EJS to display a variable showing how many tasks are left to complete-->
    </h2>

    <h2>Add A Todo:</h2>
    <!--another heading-->

    <form action="/addTodo" method="POST">
        <!--create a form with a POST method that  that goes to the /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!--creating an input box, allowing text- placeholder is text that appears when the box is empty, name is giving it a name so u can later reference it in the code-->
        <input type="submit">
        <!--gives the form a submit button-->
    </form>
    <!--closing form tag-->


    <script src='js/main.js'></script>
    <!--linking to js file -->
</body>
<!--closing body tag-->

</html>
<!--closing html tag-->